$color-blue: hsl(223, 87%, 63%);
$pale-blue: hsl(223, 100%, 88%);
$light-red: hsl(354, 100%, 66%);
$gray: hsl(0, 0%, 59%);
$dark-blue: hsl(209, 33%, 12%);
$color-silver: silver;
$width-responsive: 600px;
@mixin placeholder {
    font-size: 1rem;
    padding: 1rem;
    padding-right: 13rem;
    border: 1px solid $color-silver;
    border-radius: 20px;
}

@mixin stylebtn {
    padding: 1rem;
    width: 90px;
    background-color: $color-blue;
}

%btn {
    @include stylebtn;
    border-radius: 20px;
    border: none;
    color: white;
}

body {
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Libre Franklin', sans-serif;
}

.logo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 90px;
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__soon--clorh1 {
        color: $gray;
        font-size: 32px;
        font-style: normal;
    }
    &__subscribe {
        font-weight: 40;
    }
}

.form {
    display: flex;
    justify-content: center;
    &__input-div {
        margin-right: 2%;
        &--email {
            @include placeholder;
        }
    }
    &__button-div--submit {
        @extend %btn;
        &--submit:hover {
            background-color: $pale-blue;
        }
    }
}

.dash {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    &__dashboard--img1 {
        width: 50%;
    }
}

#social {
    display: flex;
    justify-content: center;
    margin-top: 6%;
    .fab {
        margin-right: 4%;
        color: $color-blue;
        padding: 0.5em;
        border-radius: 50%;
        border: 2px solid $pale-blue;
    }
    .fab:hover {
        background-color: $pale-blue;
    }
}

h4 {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    font-weight: 20;
    font-size: x-small;
    color: $color-silver;
}

@media only screen and (max-width: 600px) {
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 10%;
        &__input-div {
            margin-bottom: 2%;
            width: 85%;
            &--email {
                padding-right: 0rem;
            }
        }
        &__button-div {
            width: 86%;
        }
    }
}